@import "bootstrap";
@import "font-awesome";

body {
  background-image: url("background.png");
	padding-top: 60px;
}

.info.icon-play {
  cursor: pointer;
  display: table-cell;
}

.info.icon-play:hover {
  text-decoration: none;
}
