.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "InPact.me with this song!", root_path, class: "brand"
      %ul.nav
        %li
          = link_to "Songs", songs_path
        %li
          = link_to "Artists", artists_path
        %li
          = link_to "Genres", genres_path